venv/
.venv/
.env
.env.prod
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

.aws/
credentials
config

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json

*.tfplan
plan.out

ansible/group_vars/role_app.secrets.yml