[defaults]
inventory = inventories/aws_ec2.yml
host_key_checking = False
retry_files_enabled = False
remote_user = ec2-user
roles_path = roles

[inventory]
enable_plugins = amazon.aws.aws_ec2, auto, yaml, ini

[privilege_escalation]
become = True